body {
  font-family: "Helvetica", "Arial", sans-serif;
  
}


/* Makes sure the SVG content doesn't affect the layout of surrounding elements */
.content {
  width: 400px;
  height: 400px;
}

.content .clipped-item {
  fill: rgba(255, 216, 200, 0.4);
}
  
.content .header {
	/* This text shadow is needed for Firefox */
  text-shadow: 5px 5px 2px #cccccc;
  filter: url(#drop-shadow);
  font-size: 36px;
  font-weight: bold;
  display: block;
}


svg {
	overflow: visible;
}

.textWrap {
  font-family: "arial";
  font-size: 30px;
  text-rendering: optimizeLegibility;
  text-align: justify;
  line-height: 1.5em;
  width: 400px;
}

.header {
	animation-duration: 3s;
  animation-name: maskAnim;
  animation-iteration-count: infinite;
}

@keyframes maskAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(6);
  }
}
